<!DOCTYPE<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><link th:replace="fragments :: page_head('Shopme', 'none')" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/NewFile.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body >
<div class="policylink browser">
<div class="container-fluid">
<h2 class="policy">SAMARTHBUY:Browser policy</h2>
<p>In this section, we inform you on the way of collection and processing of personal data in connection
with the use of these websites.<br><br>

Most of the content of these websites serves primarily for information purposes, and we generally do
not collect or process any personal information that identifies you directly or indirectly (such as your
name, address, e-mail address, etc.)in connection with its use and browsing; nor automatically neither
otherwise.<br><br>

However, in some cases, we are collecting and processing you processing your personal data, namely:
a.  if you provide it to us in connection with the use of the specific function of these websites(e.g. 
request for submission of a recruitment application, registration for the purpose of using our 
services, customer programs, or partiicipating in consumer competitions, etc.)<br><br>

B.  data we collect based on your use of our services andd visit of our websites:<br>
<ul>
<li>cookies and related technologies(see below in this Websites Policy),</li>
<li>Our webserver collects data such as your IP address,details of the website that referred you 
to our site, information about the content you browse on our website, the browser you are
using, and its settings, the information about your operating system as well as the information
of the duration of your visit, the type of device and model of your device, the system language, 
the operating system of the device (for example, Android or iOS), THE NAME OF THE MOBILE
operator, the location of mobile browsers installed on your device (for example, Chrome or
Safari) launch and install apps on your device, download and install mobile apps, and all 
information about in-app events(such as in-app purchases),</li>
<li>online advertising and personalized content we've provided you(or attemped to provide),in
particular, how many times you saw the ad on which site the ad appeared, whether you
viewed it, clicked on it, the way and the history of your interaction with the ad, and whether you
you've visited an advertiser's website, downloaded an app, or purchased an advertised product
or service,</li>
<li>information of your general location(such as city and country), for example using your IP
address, as it is the information that is a regular part of Internet operation and it is not clear
where your device is located,</li>
<li>some of our apps can collect the exact location of your device(using GPS signals, device
sensors, Wi-Fi access points, Bluetooth signals, beacon signals and mobile tower needs that 
can be used to derive or estimate accurate location or other geographic data, location), if you 
have enabled location services for your mobile app or website,</li>
<li>When you view the content of our website, we automatically collect and store certain 
information in your server logs (so-called logs), such as which applications or sites you have
visited, your search data, time zone data, type information network connection(WiFi, mobile 
connection), cookies data.</li> </ul>
Our company may at any time modify, restrict or discontinue access to these websites, without prior
notice.<br><br>

Our website may contain links to the websites of our partners, advertisers and affiliates.  If you use a
link to any of these websites, please note that these websites are separate from our websites and our
own privacy policy, privacy statement, or other similar notice.  Our company is in no way responsible for
the content of this website or for the application or non-application of the personal data policy regarding 
its use. We recommend that you familiarize yourself with the rules that apply to them before using this
site.<br><br>
<b>Cookies information</b><br><br>

Sometimes we can place information on your computer that allows us to recognize your computer. This
information is commonly known as "cookie". Acookie is a samll set of letters and numbers that we store
in your browser or on your computer hard drive if you agree to it.  <br><br>  

Cookies contain information that is transferred to your computer hard drive. Typically, cookies allow to collect specific information
about your computer, including your inteernet protocol(IP) address, your computer's operating system, browser type, referrer
address, preferred language, and other settings.  By a further visit, a cookie will allow to recognize your browser and your next visit
of the website can be easier and more productive. cookies are important, without them web browsing would be much more difficult.<br><br>

You can set cookies that are used on our website in your web browser. Most internet browsers are preset to automatically accept
cookies. You always have the right to disable cookies by using the browser settings that allow you to refuse all or some cookies, or
to be alerted when cookies are sent to your device. you can find instructions on changing your cookie usage in the settings or in 
the section to help users in each browser. If you use multiple devices(computer, smartphone, tablet), we recommend that you 
customize cookies according to your preferences in each of your browser. However, if you use browser settings to block all
cookies(including basic cookies), you may not have access to all of the features of the websites, services or parts of them.<br><br>

We use cookies for many purposes. For example, we use them to store your safe search preferences, select relevant ads, track the
number of site visitors, simplify registration to our services, protect your data, collect anonymous usage information(such as the 
number of people who use our search agent tool). We use this information to offer you better services.<br><br>

We use following types of cookies:<br>
a.<b>Basic cookies</b>- cookies necessary for the operation of our website and for the provision of our services. These include, for 
example, cookies that allow you to sign into secure areas of our site without having to re-login, pre-fill forms, use a shopping cart,
or use e-invoicing services. If you do not allow these cookies, we can not guarantee the seamless use of the content of our
website.<br>
b.<b>Analytical/operational Cookies</b> - collect information about how visitor use our website, allow us to recognize and count the
number of visitors, and see how visitors are browsing our website when using it. In this way, we improve the functioning of our
service, for example by ensuring that users can easily find what they are looking for. We fo not collect information that could 
directly identify visitors. The data are aggregated and anonymous.<br>
c.<b>Functional cookies </b> - cookies needed to recognize you when you return to our website. In this way, we customize the content of 
the website for you, we can address you with your name and remember your preference, such as your choice of language or
region, the settings you selected when you first visited the website, content distribution, site selection, and so on. They can also 
include your preference (for example, which seller you have chosen), find out whether we have offered you a specific service
(such as questionnaires), or store more complicated decisions(such as a particular product you are interested in). The use of these
cookies is your sole diecision, however, if you disable them, you may lose some of the services we can provide you with.<br>
d.<b>Targeted/ad cookies</b> - cookies that record your website visit, specifically the sections you've visited and the links you've 
watched. We use this information to show you services and advertising according to your preferences and interests, to  target
direct marketing communications more effectively and also to limit ad displays and to measure the effectiveness of advertising
campaigns. We may also share this information with third parties.<br>
 e.<b>Third-party cookies</b> - third parties (including, for example, ad networks and external service providers, such as web visitor
 analysis services) may also use cookies over which we have no control. These cookies are probably analytical/operational or
 targeted cookies. This may be the case when viewed website uses a third-party analytics or marketing automation tools (such as 
 Google Analytics) or displays third-party website content, for example YouToube or Facebook. This results in the acceptance of
 cookies from these third party services.

</p>
<div class="d-grid gap-2 d-md-flex justify-content-md-center">
 <button type="button"style="background-color:#6433D7;color:aliceblue;width:136px" class="btn  badge-pill btn-xxl" onclick="history.back()">Back</button></div>
</div>		
</div>	
</body>
</html>