<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <link th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/NewFile.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu4"></div>

	<div>
			<br>
			<h6><a style="color:#000000;" class="in1" th:href="@{/}">Home</a>&nbsp;<i class="fas fa-chevron-right"></i> <a style="color:#000000;" class="in1" th:href="@{/women}">Women</a></h6>
	</div>
	<div class="container">
   
<div class="row justify-content-around">
    
	 <div class="col" th:each="cat : ${listCategories}">
	<div th:if="${cat.allParentIDs== '-59-' or cat.allParentIDs== '-43-' }">
	<img  class="images" src="./images/default.png"></img>
	<p class="text"><b><a style="color:#06004E; font-size:23px;" th:href="@{'/c/' + ${cat.alias}}">[[${cat.name}]]</a></b></p></div>
</div>

</div>
</div>



	

	
	
	
	

	<footer>
		<div th:replace="navigation :: footer_menu"></div></footer>

</body>
</html>
