<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="quantity_control(quantityValue, productId)">
	<nav>
		<ul class="pagination">
			<li class="page-item">
				<a style="background-color:#9DA0DD; border-radius:20px;" class="page-link linkMinus" th:pid="${productId}" href=""><b style="color:#FFFFFF;">-</b></a>
			</li>
			<li class="page-item">
			<input type="text" th:value="${quantityValue}" th:id="'quantity' + ${productId}" 
					onkeydown="return false;" 
					class="form-control text-center" style="border:none; font-size:20px; width: 35px;" />
			</li>			
			<li class="page-item">
				<a style="background-color:#31279E; border-radius:20px;"  class="page-link linkPlus" th:pid="${productId}" href=""><b style="color:#FFFFFF;">+</b></a>
			</li>			
		</ul>
	</nav>
</div>
</body>
</html>