<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head ><link th:replace="fragments :: page_head('Shopping Cart', 'none')">
<meta charset="utf-8">
<meta name="viewport" content="width=devie-width">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/NewFile.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/File.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/menu.css}" />
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu4"></div>
	<div>&nbsp;</div>
	<h6><a style="color:#000000;" class="in1" th:href="@{/}"> Home </a><i class="fas fa-chevron-right"></i> <a style="color:#000000;" class="in1" th:href="@{/cart}">Cart</a></h6>
<div>&nbsp;</div>
	<div class="text-left">
		<h2 style="margin-left:144px;"><b>Your Cart</b></h2>
		
	</div>
	

	
	<div style="margin-left:142px;" class="container1">
	<div class="row">
	<div class="col-xl-1"></div>
	<div class="col-xl-2">
	<img  class="images" src="./images/cart img.png"></img>
	</div>
	<div class="col-xl-9">
	<p1 style="font-size:24px;">Note:</p>
	<p1 style="font-size:18px;">Goods once sold cannot be replaced or returned</p>
	</div>
	</div>
	</div>
	
	<br>
	
	
	<div class="row m-1">
    <div style="margin-left:142px;" "width:692px;" "height:113;"  class="col-sm-5">
    
        <th:block th:each="item, status : ${cartItems}">
        <div style="background-color:#F0F0F0;"class="row border rounded p-1" th:with="product = ${item.product}" th:id="'row' + ${status.count}">
            <div class="col-1">
                
                <div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div class="divCount">[[${status.count}]]</div>
                    <a class="fas fa-trash icon-dark linkRemove" th:rowNumber="${status.count}" 
                        th:href="@{'/cart/remove/' + ${product.id}}"></a>
                </div>
            </div>
            <div class="col-3">
                <img th:src="@{${product.mainImagePath}}" class="img-fluid" />
            </div>
            <div class="col-6">
              
                <div>
                    <a style="color:#000000;" th:href="@{'/p/' + ${product.alias}}" target="_blank"
                        th:title="${product.name}">
                        <b>[[${product.shortName}]]</b>
                    </a>
                </div><br>
                <div >
                    <span>Size</span>&nbsp;&nbsp;<span><b>XL</b></span>
                    
                </div><br>
               
                <div style="float:right;">
                    
                    <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span><span th:id="'subtotal' + ${product.id}" class="h4 subtotal">[[${#numbers.formatDecimal(item.subtotal, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</span><span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>						
                </div>
                <br>
                <div>
                
                <div>Qty</div><div th:replace="cart/quantity_control :: quantity_control(${item.quantity}, ${product.id})"></div>
             
                   </div>
                
               		
            </div>
        </div>
        <div class="row m-1" th:id="'blankLine' + ${status.count}">&nbsp;</div>
        </th:block>
    </div>
    
    
    
    <div   class="col-sm-4" th:unless="${#lists.isEmpty(cartItems)}" id="sectionTotal">
    <div style="width:240px;" "height:136px;" class="in5 border rounded p-5">
        <div>
            <span style="color:#670000;" ><b>Price:</b></span>&nbsp;&nbsp;<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag"><b style="color:#670000;">[[${CURRENCY_SYMBOL}]]</b></span><span style="color:#670000;" id="total" ><b>[[${#numbers.formatDecimal(estimatedTotal, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</b></span><span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag"><b>[[${CURRENCY_SYMBOL}]]</b></span>				
        </div>
       
        <div class="mt-2">
            <div th:if="${shippingSupported}">
            <form th:action="@{/checkout}">
                <button style="background-color:#301B86;"  type="submit" class="btn btn-danger p-3 mt-2">Proceed to Buy</button>
            </form>
            </div>
          
            </div>
            
            <div th:unless="${shippingSupported}">
                <div><span class="h5 text-warning">No shipping available for your location</span></div>
                
                <div th:if="${usePrimaryAddressAsDefault}">
                    <a th:href="@{/account_details(redirect=cart)}" class="h6">Update your address</a>
                </div>
                
                <div th:unless="${usePrimaryAddressAsDefault}">
                    <a th:href="@{/address_book(redirect=cart)}" class="h6">Use another shipping address</a>
                </div>
            </div>
        </div>
    </div>
</div>	



<div id="sectionEmptyCartMessage" th:class="'text-center' + ${#lists.isEmpty(cartItems) ? '' : ' d-none'}" >
    <img src="images/emptycart.png" />
    <br>
    <h3><b>Your cart is empty</b></h3>
    <br>
    <div style="text-align:center;" class="mt-3">
				<a th:href="@{/}"><input type="button"  style="background-color:#301B86; font-size:20px; width:216px; height:59px; border-radius:20px;"  value="View Products"  class="btn btn-primary"/></a>
				<br><br>
			</div>
			
</div>

<div th:replace="fragments :: modal_dialog"></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<footer><div th:replace="navigation :: footer_menu"></div></footer>
</div>	
<script type="text/javascript">
contextPath = "[[@{/}]]";
var csrfHeaderName = "[[${_csrf.headerName}]]";
var csrfValue = "[[${_csrf.token}]]";

decimalDigits = [[${DECIMAL_DIGITS}]];
decimalPointType = "[[${DECIMAL_POINT_TYPE}]]";
thousandsPointType = "[[${THOUSANDS_POINT_TYPE}]]";

</script>
<script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
<script type="text/javascript" th:src="@{/js/shopping_cart.js}"></script>
<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
</body>
</html>
   
