/*
	@name frame_29
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1280px; width: 1280px; height: 720px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_frame_29_ek1 {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
}

#_bg__frame_29_ek2 {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
	background:rgba(238,238,238,1);
}


#vector_4 {
	top: 242px;
	left: -47px;
	width: 1440px;
	height: 552px;
}


#rectangle_102 {
	top: 136px;
	left: 100px;
	width: 1079px;
	height: 512px;
	-ms-box-shadow:0px 6px 31px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 6px 31px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 6px 31px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 6px 31px 1px rgba(0,0,0,0.25);
	box-shadow:0px 6px 31px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
}


#samarthbuy {
	top: 166px;
	left: 136px;
	width: 241px;
	height: 59px;
	overflow: hidden;
	font-family: Gugi;
	font-size: 30px;
	text-align: left;
	color:#C2BFCD;
}


#thank_you_for_registering____ {
	top: 374px;
	left: 404px;
	width: 484px;
	height: 66.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 35px;
	text-align: center;
	color:#06004D;
}


#you_will_be_notified_through_your_registered_email_id_on_your_account_activation__once_your_account_verification_process_is_completed_ {
	top: 462px;
	left: 223px;
	width: 853px;
	height: 76px;
	overflow: hidden;
	font-family: Inter;
	font-size: 22px;
	text-align: center;
	color:#000000;
}


#rectangle_98 {
	top: 558px;
	left: 606px;
	width: 113px;
	height: 45px;
	-ms-border-radius: 19px;
	-o-border-radius: 19px;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	border: 1px solid #000000;
	background:rgba(100,51,215,1);
}


#ok {
	top: 569px;
	left: 652px;
	width: 47.5px;
	height: 32.5px;
	
	font-family: Inter;
	font-size: 17px;
	text-align: left;
	background:rgba(100,51,215,1);
	
}


#pngwing_com___2023_02_17t163330_1 {
	top: 196px;
	left: 568px;
	width: 143px;
	height: 144px;
	
}
.back-fp
{
	background:rgba(100,51,215,1);
	border:none;
	
}
#lfp
{
	color:rgba(238,238,238,1);
	
}



/* Add your custom CSS here */
