*.icon-white {color: white}
*.icon-silver {color: silver}
*.icon-green {color: green}
*.icon-dark {color: gray}

@media screen and (max-width: 768px) {
	/* small screen */
	div.full-details { display: none }
	div.less-details { display: block; }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* medium screen */
	div.full-details { display: block; }
	div.less-details { display: none; }
	.hideable-column { display: none }
}

@media screen and (min-width: 1024px) {
	/* small screen */
	div.less-details { display: none; }
	.hideable-column { display: table-cell; }
}

    .img{
        width: 300%;
        height: 300%;
    
    }
    .images{
        height: 100px;
        width: 100px;
        margin:auto;
        border-radius:50%;
    } 

.size{
        text-align: center;
        font-size: 18px;
    }
    /*index.html*/
 .index2{
        width: 110%;
        height: 300px;
        border: 6px solid #06004E;
        }
.png{
      width: 105%;
      height: 255px;
        }
       
        /* policy style*/
        .policy{
	text-align:center;
	width:100%;
	padding:10px;
	font-weight:bold;
	position:sticky;
	top:0;
	background-color:white;
	}
	.policylink{
	 background-color:white;
	  margin:auto;
	  width: 65%;
	  border: 3px solid black;
	  padding: 10px;
	 outline:  #421AA3 solid 50px;
	 display:flex;
	  }
      .browser{
	  height:260%;
	  }
 .privacy{
  
  height:650%;
  font-size:18px;
 }
.terms{

height:615%;
}
